@use '@angular/material' as mat;

$custom-dark-theme: mat.define-dark-theme((
  color: (
    primary: mat.define-palette(mat.$blue-gray-palette),
    accent: mat.define-palette(mat.$teal-palette),
    warn: mat.define-palette(mat.$red-palette),
  ),
  typography: mat.define-typography-config(),
  density: 0,
));
@include mat.all-component-themes($custom-dark-theme);
